.main {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.header h1 {
    color: #eee;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}