@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
    --primary-color: white;
    --secondary-color: #353552;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

header h1 {
    color: #eee;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    min-height: 65vh;
    padding-left: 180px;
    padding-right: 180px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.footer p {
    color: #eee;
    text-align: center;
}

.footer p a {
    color: #00AAC3;
}

.span {
    color: crimson;
}



